:root {
    --terminal-color:#292b36; 
    --round-border: 4px; 
}

* {
    font-family: monospace;
}

input, button {
    border:none;
    outline: none;
}

main {
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgb(0, 0, 0/75%);
    border-radius: var(--round-border);
}

h1 {
    text-align: center;
    color:white;
    font-size: 50px; 
    font-family: monospace;

}

#initial-input, #final-output {
    background-color: var(--terminal-color);
    width: -webkit-fill-available;

}

#initial-input {
    margin: 10px 0 0;
    padding: 10px;
    color: white;
    border-radius: var(--round-border);
}

/*Resultado mensaje encriptado*/

#final-output {
    height: 20px;
    color:#5af78d;
    padding: 0px 10px 10px;
    margin-top: 10px;
    border-radius: var(--round-border);

}

#rank {
    margin-top: 10px;
   
}



figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

h3 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: monospace;
}

button {
    background-color:rgb(221, 154, 76);
    padding: 12px;
    border-radius: 12px;
    color: black;
    font-size: 20px;
    font-family:monospace;
    font-weight: bolder;
}

.buttons {
    margin-left: 230px;
    margin-right: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.btnA {
    display: flex;
    justify-content: center;
    
}

.btnB {
   display:flex;
   justify-content: center;
 
}

body {
    height: 100vh;
    background-color: #5c4b7a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#container {
    border: 5px none white;
    margin: 4em 8em;
    padding: 2em 8em 4em;
    background-color: black;
    opacity: .8;

}


