:root {
    --terminal-color:#292b36; 
    --round-border: 4px; 
}

* {
    font-family: monospace;
}


main {
    padding: 25px;
    border-radius: var(--round-border);
}

h1 {
    text-align: center;
    color:white;
    font-size: 50px; 
    font-family: monospace;

}

#inputText, #outputText {
    background-color: var(--terminal-color);
    width: 400px;
    font-size: 15px;
    
}

#inputText {
    margin: 10px 0 0;
    padding: 10px;
    height: 100px;
    color: white;
    border-radius: var(--round-border);
}

#outputText {
    height: 100px;
    color:#5af78d;
    padding: 10px;
    border-radius: var(--round-border);

}

#stepOne {
    display: flex;
    justify-content: center;
}

#result {
    margin: 2em 0em;
    display: flex;
    justify-content: center;
}

#rank {
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
#position {
    border-radius: var(--round-border);
    background: var(--terminal-color);
    color: white;
    height: 30px;
    width: 50px;
    
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

h3 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: monospace;
}

p {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

button {
    background-color:rgb(221, 154, 76);
    padding: 12px;
    border-radius: 12px;
    color: black;
    font-size: 20px;
    font-family:monospace;
    font-weight: bolder;
}

.btnPageOne {
    margin-left: 230px;
    margin-right: 230px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.btnA {
    display: flex;
    justify-content: center;
    
}

.btnB {
   display:flex;
   justify-content: center;
 
}

body {
    margin: 0px;
    height: 100vh;
    background-color:rgb(92, 75, 122, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#container {
    border-radius: 20px;
    margin: 2em 8em;
    padding: 2em 8em 4em;
    background-color: rgb(92, 75, 122, .8);
}

#containerPage2 {
    border-radius: 20px;
    margin: 8em 7em 2em;
    padding: 1em 8em 2em;
    background-color: rgb(92, 75, 122, .8);
    
}

#cipherBtn {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    
}

#page1 {
    height: 100vh;
    width:100vw;
    background-image: url(img/fondo_pascualina.jpg);
}

#page2 {
    width: 100vw;
    background-image: url(img/fondo_pascualina.jpg);
}
#allStep{
    padding: 0px;
}